@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Custom CSS for sliding effect */
.slide-container {
  display: flex;
  overflow: hidden;
  width: 120px;
  height: 96px; /* Adjust based on your image height */
}

.slide-item {
  flex-shrink: 0;
  transition: transform 0.5s ease-in-out;
}

.slide-item:hover {
  transform: translateX(-100%);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-urbanist);
  font-size:medium;
}
